.popup {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stars {
  font-size: 45px;
}

.title {
  padding: 6px;
}

.url {
  font-size: 14px;
  color: grey;
}