.searchContainer {
  padding-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.searchBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  border: 1px solid #D0CFCE;
  outline: none;
}

.searchBar > input {
  font-size: 16px;
  width: 100%;
  outline: none;
  border: none;
 }

 .filters {
  font-size: 14px;
  background-color: lightblue;
  color: blue;
  display: inline-block;
  padding: 0px 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  align-self: center;
}

.filters input {
  margin: 0px 5px;
  padding: 0px 5px;
  font-size: 16px;
  border: none;
}

 .pre {
   font-size: 12px;
 }

 .foundCount {
  font-size: 14px;
  float: right;
 }