.starlist {
  padding-top: 350px;
  width: 80%;
  min-width: 800px;
}

.list > div {
  border-top: 1px solid rgb(235, 235, 235);
}

.heading {
  font-size: 20px;
}

.heading > span {
  cursor: pointer;
}

.oddRow {
  background: #f9f9f9;
}
