.starmark {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* flex: 1; */
}

.starmark span {
  /* align-self: flex-start; */
  flex: 1;
}

.stars {
  font-size: 20px;
  min-width: 6em;
  max-width: 6em;
}

.favicon {
  max-width: 20px;
  min-width: 20px;
}

.date {
  max-width: 6em;
  min-width: 6em;
}

.visitCount {
  max-width: 3em;
  min-width: 3em;
}

.title {
  font-size: 24px;
  font-weight: 200;
}

.title,
.url {
  overflow: hidden;
  text-overflow: ellipsis;
}

.title a {
  color: black;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title a:hover {
  color: orange;
}

.url a {
  text-decoration: none;
  color: rgb(180, 180, 180);
  max-width: 100px;
}

img {
  max-width: 100%;
}
