@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?family=FontAwesome);

/****** Style Star Rating Widget *****/
body{
  background-color: rgb(243, 243, 243);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  border: none;
  margin: 0px;
  padding: 0px;
}

.rating > input { display: none; }
.rating > label:before {
  margin: .05em;
  /* font-size: 45px; */
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
