.starmark {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
}

.row {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.row > span {
  /* flex: 1; */
  padding: 10px 5px;
  display: inline-block;
  vertical-align: middle;
}

.stars {
  font-size: 20px;
}

.rating {
  flex: 0 0 105px;
}

.favicon {
  flex: 0 0 16px;
}

.favicon img {
  max-width: 100%;
  vertical-align: middle;
}

.date {
  flex: 0 0 105px;
}

.visitCount {
  flex: 0 0 50px;
}

.title {
  flex: 1 0 200px;
}

.title,
.url {
  overflow: hidden;
  text-overflow: ellipsis;
}

.title a {
  color: inherit;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tag:hover,
.title a:hover {
  color: orange;
}

span.url {
  padding-left: 10px;
  border-top: 0px;
}

.url a {
  text-decoration: none;
  color: rgb(180, 180, 180);
  font-weight: 200;
  max-width: 100px;
}

.tagRow {
  font-size: 10px;
  font-weight: 200;
}

.tag {
  font-weight:  400;
  cursor: pointer;
  color: rgb(77, 154, 212);
  padding-right: 10px;
}

.editIcon {
  visibility: hidden;
  flex: 0 0 16px;
  font-size: 20px;
  color: #909090;
}
.row:hover {
  background: #ebf4fb;
}

.row:hover .editIcon {
  visibility: visible;
}
