/* .normal {
  background-color: rgb(96, 133, 252);
} */

body {
  /* background-color: rgb(243, 243, 243); */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.popup {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagsSpacer {
  flex: 0 0 500px;
}

.stars {
  font-size: 45px;
}


/* .normal {
  background: #fff;
  margin: 200px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.normal input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
} */